Source: fbset
Section: admin
Priority: optional
Maintainer: Guillem Jover <guillem@debian.org>
Standards-Version: 3.7.3
Homepage: http://users.telenet.be/geertu/Linux/fbdev/
Vcs-Browser: http://git.hadrons.org/?p=debian/pkgs/fbset.git
Vcs-Git: git://git.hadrons.org/git/debian/pkgs/fbset.git
Build-Depends: debhelper (>= 5), quilt (>= 0.40), flex, bison

Package: fbset
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, makedev (>= 2.3.1-24) | udev
Description: framebuffer device maintenance program
 Program to modify settings for the framebuffer devices (/dev/fb[0-9]*
 or /dev/fb/[0-9]*) on Linux, like depth, virtual resolution, timing
 parameters etc.

Package: fbset-udeb
Package-Type: udeb
Section: debian-installer
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}
Description: framebuffer device maintenance program
 Program to modify settings for the framebuffer devices (/dev/fb[0-9]*
 or /dev/fb/[0-9]*) on Linux, like depth, virtual resolution, timing
 parameters etc.
 .
 This contains the udeb, which is used for the debian-installer
 installation system. It won't work well on a normal Debian system.

