#!/bin/sh

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

db_version 2.0

#
# Only notify the framebuffer devices creation if devfs isn't used.
#
if [ ! -c /dev/.devfsd ] ; then
  if [ ! -c /dev/fb0 ] ; then
    db_input low fbset/create_framebuffer_devices || true
    db_go
  fi
fi

